body {
	background-color: #ffffff;
	margin: 0px;
	padding: 0px;
}

.HeaderTable {
	border: 2px solid #99aadd;
}

.Content {
	margin: 1em;
}

body, td, th {
	font-family: Verdana, sans-serif; font-size: 12px;
	color: black;
}

.SignatureTable, .MemberSignatureTable {
	border: 1px solid #DDDDDD;
}

.Footer {
	border-top: 2px solid #E5E5E5;
	padding-left: 1em;
}

.Footer hr {
	display: none;	
}

h1, h2, h3, h4 {
	font-family: Verdana,sans-serif;
	font-weight: bold;
}

h1 {
}

h3 {
}

h4 {
}

.MasterNamespaceLink a {
	font-weight: bold;
	text-decoration: none;
}
.MasterNamespaceDescription {
	margin-left: 2em;
}

img {
	border: 0;
	vertical-align: top;
}

.copyright {
	border:1px solid black;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	padding-bottom:5px;
	background-color:#BEBAA8;
	font-size:9px;
	margin-top: 10pt;
	margin-left: -15pt;
	margin-right: -15pt;
}

.important {
	padding-left:2px;
	padding-right:2px;
	padding-top:2px;
	padding-bottom:2px;
	background-color:#000000;
	color:#ffffff;
}

.menu {
	font-family:Arial, Verdana;
	font-size:12px;
	font-weight:bold;
}

.navbar{
	color:black;
	font-family:Arial, Verdana;
	font-size:10px;
	border-bottom:1px solid #000000;
	border-left:1px solid black;
	border-right:1px solid black;
	background-color:#efefef;
	padding-left:2px;
	padding-right:2px;
	padding-top:2px;
	padding-bottom:2px;
	margin-left: -15pt;
	margin-right: -15pt;
}
	
.topframe {
	background-image:url(images/backbig.png);
	border:1px solid #000000;
	background-color:#BEBAA8;
	margin-left: -15pt;
	margin-right: -15pt;
}

.chapter {
	font-size:14px;
	font-weight:bold;
	color:#444444;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:0px;
}

.table {
	padding-left:2px;
	padding-right:2px;
	padding-top:0px;
	padding-bottom:0px;
	background-color:#efefef;
	border:1px solid #c0c0c0;
}

.elementOn {
	color:#a40000;
}

.element {
	color:#0000a4;
}

.code {
	margin:15px;
	padding:15px;
	font-size: small;
	font-family: "Courier New", Courier;
	background:whitesmoke;
	border: solid 1px silver;
	line-height:110%;
}

.box {
	padding:15px;
	font-size: small;
	background:whitesmoke;
	border: solid 1px silver;
}

.console {
	border-style: solid; 
	background: whitesmoke; 
	border-width: 1px; 
	padding: 2pt; 
	margin:15px;
}

.headerlink {
	vertical-align:bottom;
}

a {
	color: blue;
}
a:visited {
	color: blue; 
}

td a {
	text-decoration: none;
}

.HeaderTable a {
	color: black;
	text-decoration: underline;
}

