#fsearch_window {
	display: none;
	opacity: 0;
	position: absolute;
	z-index: 60;
	text-align: left;
	width: 25em;
	right: 80px;
	top: 40px;
	border: 1px solid black;
	background: white;
	padding: 5px;
	overflow: hidden;
	-webkit-transition: opacity 200ms linear 0;
	-moz-transition: opacity 200ms linear 0;
	-o-transition: opacity 200ms linear 0;
}

#fsearch_window a {
	color: blue;
	text-decoration: none;
	font-family: monospace;
}

#fsearch_window .threedots {
	color: #333;
	font-size: x-small;
	font-family: sans-serif;
}

#fsearch_window .selected {
	background-color: 679ef1;
	color: white;
}

#fsearch_companion {
	display:none;
	position: absolute;
	z-index: 60;
	top: 40px;
	right:410px;
	color: grey;
	background-color: white;
}

iframe {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body,div {
    margin: 0;
    padding: 0;
}

img.toolbarsep {
    border: 0px;
    margin-bottom: 1px;
    margin-top: 1px;
    padding-top: 3px;
    padding-bottom: 3px;
    vertical-align: middle;
}

img.toolbar {
    border: 0px;
    margin: 1px;
    padding: 3px;
    vertical-align: middle;
}

img.toolbar:hover {
    border-left: 1px solid white;
    border-right: 1px solid #B1A598;
    border-top: 1px solid white;
    border-bottom: 1px solid #B1A598;
    margin: 0px;
}

img.toolbar:active {
    border-right: 1px solid white;
    border-left: 1px solid #B1A598;
    border-bottom: 1px solid white;
    border-top: 1px solid #B1A598;
}


#login {
    position: fixed;
    top: 0px;
    right: 0px;
    float: right;
    padding: 5px;
}

#rightSide {
    position: relative;
    top: 2px;
    right: 0px;
    float: right;
    padding: 5px;
}

#banner {
	background: #679EF1 url(mdocimages/headerbg.png) no-repeat 100% 50%;
	background-color: #679EF1;
	background-position: 100% 50%;
	background-repeat: no-repeat;
	border-bottom: 1px dotted #3363BD;
}

#header {
	color: black;
	height: 40px;
	margin-bottom: 0px;
	padding: 0px 0px 0px 15px;
	position: relative;
	width: 50%;
}
#header h1 {
	color: white;
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: 22px;
	font-weight: bold;
	line-height: 1.8em;
	margin: 0;
}
body,div {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html,body {
	height: 100%;
}

#side {
	width:20%;
	height: 93%;
	float: left;
	border-right: 1px solid black;
	overflow-x: auto;
	overflow-y: auto;
}

#content_frame {
	width:79.9%;
	height: 94%;
}
