<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <sectionGroup name="mono.aspnet">
	<section name="acceptEncoding"
	type="Mono.Http.Configuration.AcceptEncodingSectionHandler, Mono.Http, Version=1.0.5000.0, PublicKeyToken=0738eb9f132ed756"/>
      </sectionGroup>
    </configSections>
    <system.web>
        <customErrors mode="Off"/>
	<authentication mode= "Forms">
	</authentication>
    </system.web>
    <mono.aspnet>
        <acceptEncoding>
	    <!-- Change disabled to 'no' to enable gzip content encoding -->
	    <add encoding="gzip" type="Mono.Http.GZipWriteFilter, Mono.Http, Version=1.0.5000.0, PublicKeyToken=0738eb9f132ed756"
	   	 disabled="no" />
	</acceptEncoding>
    </mono.aspnet>

    <appSettings>
	<add key="MonoServerDefaultIndexFiles"
	     value="index.aspx, Default.aspx, default.aspx, index.html, index.htm" />
    </appSettings>
    <location path="edit.aspx">
        <system.web>
	    <authentication mode="Forms">
		<forms name=".MONOAUTH" loginUrl="login.aspx"/>
	    </authentication>
	    <authorization>
		<deny users="?" />
	    </authorization>
        </system.web>
    </location>
</configuration>

