<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <sectionGroup name="mono.aspnet">
	<section name="acceptEncoding"
	type="Mono.Http.Configuration.AcceptEncodingSectionHandler, Mono.Http, Version=1.0.5000.0, PublicKeyToken=0738eb9f132ed756"/>
      </sectionGroup>
    </configSections>
    <system.web>
        <customErrors mode="Off"/>
		<httpRuntime requestValidationMode="2.0" />
		<pages validateRequest="false" />
	<authentication mode= "Forms">
	</authentication>
	<!-- Avoid compilation errors when the Mono.Contributions.dll assembly is not found. The assembly is only on the go-mono.com server -->
	<compilation batch="false" />
    </system.web>
    <mono.aspnet>
        <acceptEncoding>
	    <!-- Change disabled to 'no' to enable gzip content encoding -->
	    <add encoding="gzip" type="Mono.Http.GZipWriteFilter, Mono.Http, Version=1.0.5000.0, PublicKeyToken=0738eb9f132ed756"
	   	 disabled="no" />
	</acceptEncoding>
    </mono.aspnet>

    <appSettings>
	<add key="Title" value="Xamarin API Documentation" />
	<add key="MonoServerDefaultIndexFiles" value="index.aspx, Default.aspx, default.aspx, index.html, index.htm" />
	<add key="MonodocRootDir" value="/mono/lib/monodoc-ios/" />
        <add key="Plugins" value="plugins.def" />
    </appSettings>
    
</configuration>

