body {
	font-family: verdana;
	font-size: 70.5%;
	font-weight: normal;
	background-color: #fff;
	color: Black;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	vertical-align: middle;
}

.tree-node,
.tree-node-collapsed
{
	margin: 0px;
	padding: 0px;
	border: 0px;
	white-space: nowrap;
}

.tree-label
.tree-label-selected
{
	margin: 0px;
	padding: 0px;
	border: 0px;
	white-space: nowrap;
}

.tree-node-collapsed .tree-node,
.tree-node-collapsed .tree-node-collapsed
{
	display: none;
}

.tree-label-selected a,
.tree-label-selected a:hover
{
	text-decoration: none;
	background: highlight;
	color: highlighttext;
}

.tree-label a
{
	text-decoration: none;
	background: #fff;
	color: black;
}

.tree-label a:hover
{
	background-image: url('../images/searching.gif');
	text-decoration: none;
	background: #dfdfdf;
	color: black;
	border: 1px solid;
	border-color: grey;
	padding: 1px;
}

.tree-node img
{
	vertical-align: middle;
	border: 0px;
}

