body { font-size: small; margin: 0; padding: 0; background:#fff; color:#000; font-family: Arial, Helvetica, sans-serif; }
* html body {
	font-size: x-small; /* IE5/Win */
	f\ont-size: small; /* other IE versions */
}

#header {
	background: #4f83c4 url(images/header-logo.png) no-repeat scroll 0 0;
	height: 80px;
	margin: 0;
	clear: both;
}

.icontext {
  display: inline-block;
  background: no-repeat left center;
  padding-left: 15px;
  padding-right: 10px;
}

.icons {
  width: 16px;
  height: 1em;
  display: inline-block;
  background: no-repeat center center;
}

.full { color: green; };

#content {
	margin-left: 1.5em;
	margin-right: 0.5em;
}

#footer {
	clear: both;
	height: 10px;
	background-color: #4f83c4;
}

h1 {
	text-align: center;
	font-weight: bold;
	margin: 0;
	padding: 25px 0 0 0 ;
	color: #fff;
}

h2 {
	background-color: #4f83c4;
	color: #fff;
	padding: 5px;
	text-align: center;
	margin-right: 1em;
	margin-top: 0.5em;
}

ul.assemblies {
	list-style-type: none;
	line-height: 1.5em;
}

a { color:#33f; text-decoration: none; }
a:hover { color:#00f; text-decoration: none; font-weight: bold; }
a:active { color:#ccf; text-decoration: none; }

#treeview {
	float: left;
	width: 70%;
}

/* Remove these ? */
#detaillevel {
	float: right;
	margin: 20px 20px 20px 20px;
	border-width: 1px 1px 2px 2px;
	border-color: #4c83c4;
	border-style: solid;
	display: block;
	background-color: #DDD;
	padding: 1em;
}

#legend {
	width: 20%;
	float: right;
	margin-top: 20px;
	border-width: 1px 1px 2px 2px;
	border-color: #4c83c4;
	border-style: solid;
}

.item { background-color: #ddd; }

.alternatingitem { background-color: #FFF; }
/* **** */

.stnone { background-image: url(images/sc.gif); }
.stmiss { background-image: url(images/sm.gif); }
.stextra { background-image: url(images/sx.gif); }
.stniex { background-image: url(images/mn.png); }
.sterror { background-image: url(images/se.gif); }
.sttodo { background-image: url(images/st.gif); }

.tyy {background-image: url(images/y.gif);}
.tyn {background-image: url(images/n.gif);}
.tyr {background-image: url(images/r.gif);}
.tyi {background-image: url(images/i.gif);}
.tyc {background-image: url(images/c.gif);}
.tys {background-image: url(images/s.gif);}
.tyd {background-image: url(images/d.gif);}
.tyen {background-image: url(images/en.gif);}
.tym {background-image: url(images/m.gif);}
.typ {background-image: url(images/p.gif);}
.tyf {background-image: url(images/f.gif);}
.tye {background-image: url(images/e.gif);}

.cname { margin-left: 5px; margin-right: 15px; }

