body {
	font-family: verdana;
	font-size: 70.5%;
	font-weight: normal;
	background-color: #f1f1f1;
	color: Black;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.webfx-tree-container {
	margin: 0px;
	padding: 0px;
	white-space: nowrap;
}

.webfx-tree-item {
	padding: 0px;
	margin: 0px;
	color: WindowText;
	white-space: nowrap;
	height: 16px;
}

.webfx-tree-item a, .webfx-tree-item a:active, .webfx-tree-item a:hover {
	margin-left: 3px;
	padding: 0px 2px 1px 2px;
}

.webfx-tree-item a {
	color: black;
	text-decoration: none;
}

.webfx-tree-item a:hover {
	color: blue;
	text-decoration: underline;
}

.webfx-tree-item a:active {
	background: highlight;
	color: highlighttext;
	text-decoration: none;
}

.webfx-tree-item img {
	vertical-align: middle;
	border: 0px;
}

.webfx-tree-icon {
	width:0px;
	visibility: hidden;
}