Makefile
configure
profiler-decoder-library/Makefile
profiler-decoder-library/profiler-decoder-library.pc
profiler-file-decoder/Makefile
Makefile.in
Mono.Profiler.userprefs
Mono.Profiler.usertasks
aclocal.m4
autom4te.cache/*
config.log
config.make
config.status
expansions.m4
heap-snapshot-explorer/Makefile
heap-snapshot-explorer/Makefile.in
heap-snapshot-explorer/bin/*
heap-snapshot-explorer/heap-snapshot-explorer.pc
heap-snapshot-viewer/Makefile
heap-snapshot-viewer/Makefile.in
heap-snapshot-viewer/bin/*
heap-snapshot-viewer/heap-snapshot-viewer
install-sh
missing
profiler-decoder-library/Makefile.in
profiler-decoder-library/bin/*
profiler-decoder.exe
profiler-decoder.exe.mdb
profiler-file-decoder/Makefile.in
profiler-file-decoder/bin/*
heap-snapshot-viewer/mprof-heap-viewer
profiler-file-decoder/mprof-decoder
*.pidb
mprof-gui/emveepee